{% extends "layout.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/public/stylesheets/home.css">
{% endblock %}

{% block h1 %}MusicBoxd{% endblock %}
{% block p %}Crea tu cuenta para empezar{% endblock %}

{% block btn %}{% endblock %}

{% block content %}
<main>
  <div class="container">

    <section class="section">
      <div class="hero-square">
        <div class="hero-square-inner">
          <h2>Registro</h2>
          <p>Crea tu cuenta con username, email y contraseña</p>
        </div>
      </div>
    </section>

    <section class="panel">
      <form action="/auth/register" method="post">
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" required>
        </div>

        <div class="field">
          <label>Email</label>
          <input type="email" name="email" required>
        </div>

        <div class="field">
          <label>Contraseña</label>
          <input type="password" name="password" required>
        </div>

        <button class="btn btn-primary" type="submit">Registrar</button>
      </form>

      <p class="auth-link">
        ¿Ya tienes cuenta? 
        <a href="/auth/login" class="auth-action">Inicia sesion</a>
      </p>
    </section>

  </div>
</main>
{% endblock %}